* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #E2E8EE;
}

.circulo-back-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.fondo-blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    --animate-duration: 30s;
}

.a-texto {
    position: absolute;
    background: rgb(191, 113, 243);
    background: linear-gradient(42deg, rgba(191, 113, 243, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(69, 91, 252, 1) 100%);
}

::-webkit-scrollbar {
    width: 3px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgb(134, 134, 134);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(134, 134, 134, 0.507);
}


.text-mono {
    font-family: 'Chivo Mono', monospace;
}

.nicoBarrera {
    letter-spacing: -2.5px;
}

.cls-1 {
    min-width: 200px;
    width: 30%;
    fill: #0600ff;
}

.cls-1:hover {
    min-width: 200px;
    width: 30%;
    fill: #0400ffd3;
}

.nico {
    fill: #ffffff;
}

.ncofoot {
    height: 40px;
}

.linea1 {
    background-color: #FFD400;
}

.linea2 {
    background-color: #FF0080;
}

.linea3 {
    background-color: #0600ff;
}

#forma:hover {
    opacity: .85;
}

.asterixco {
    position: absolute;
    transition: transform .7s;
    transform: scale(1) rotate(-10deg);
}

.asterixco:hover {
    transform: scale(1.2) rotate(-360deg);
    cursor: default;
}

.cuerpo {
    padding-right: 30px;
    padding-left: 30px;
}

.cap {
    border-radius: 15px;
}

.haches {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .2rem;
    color: #000000;
    font-size: 19px;
}

.fontt {
    font-style: italic;
}

.sector-2 {
    display: flex;

}

footer {
    margin-top: auto;
}