* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.text-mono {
    font-family: 'Chivo Mono', monospace;
}

.cls-1 {
    min-width: 200px;   
    width: 30%;
    fill: #0600ff;
}
.cls-1:hover {
    min-width: 200px;   
    width: 30%;
    fill: #000000;
}
.nico {
    fill: #ffffff;
}
.ncofoot {
    height: 30px;
}

.linea1 {
    background-color: #FFD400;
}
.linea2 {
    background-color: #FF0080;
}
.linea3 {
    background-color: #0600ff;
}

.nicoBarrera {
    font-weight: 500;
}

.asterixco {
    color: #FFD400;
    font-size: 30vw;
    position: absolute;
}

.cuerpo {
    padding-right: 25px;
    padding-left: 25px;
}

.cap {
    border-radius: 15px;
}

.paraf-ini {
    font-size: small;
}
.haches {
    font-weight: bold;
    margin-top: 1rem;
}
.texto2{
    font-family: 'Inter', sans-serif;
}

.fontt {
    font-style: italic;
}

.sector-2 {
    display: flex;

}

.imge {
    width: 100px;
    object-fit: contain;
}

footer {
    background-color: #b700ff;
    margin-top: auto;
}
