* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Chivo Mono', monospace;
}

.logoNico {
    height: 200px;
}

.nicoBarrera {
    font-weight: 500;
    letter-spacing: -4px
}

.asterixco {
    color: #FFD400;
    font-size: 2000%;
}

.cuerpo {
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.fontt {
    font-style: italic;
}

.sector-2 {
    display: flex;

}

.imge {
    width: 100px;
    object-fit: contain;
}